@import url("https://fonts.googleapis.com/css2?family=Marmelad&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
/* |||||||navbar||||||*/
.navbar-section {
  padding: 10px;
  background-color: #ffffff70;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar li {
  margin: 0 10px;
  font-family: "poppins";
}

.navbar li a {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 492px;
  height: 100px;
}

body {
  background-image: url(img/hero-section-background.jpg);
}
/*||||||||navbar-end||||||||*/

/* <!-- introduction --> */
.introduction-section {
  height: calc(100vh);
  font-family: "poppins";
}
.container {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: grid;
}

.box1 {
  font-family: "poppins";
  padding-top: 1rem;
  width: 420px;
  height: 410px;
  background-color: rgba(255, 255, 255, 0.67);
  grid-column-start: 2;
  grid-row-start: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-image: url(img/hero-section-img.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 45%;
  grid-column-start: 4;
  grid-row-start: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.9);
  }
}

.title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.inner-part {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started {
  margin: 20px;
  width: 150px;
  height: 70px;
  font-family: "poppins";
  border-radius: 18px;
  background-color: rgb(27, 7, 61);
  color: #ffffff;
  font-size: larger;
  transition: all 0.3s ease-in;
}

.learn-more {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  width: 150px;
  font-family: "poppins";
  border-style: none;
  border: 1px solid #000;
  height: 70px;
  border-radius: 18px;
  font-size: larger;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in;
}

.learn-more:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.get-started:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(27, 7, 61);
}

/* <!-- introduction --> */
/* <!-- about us css --> */
.about-us-section {
  display: flex;
}

.text-container {
  width: 50%;

  padding: 20px;
  font-family: "poppins";
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  background-color: #38373773;
}

.heading {
  font-family: "poppins";
  font-size: 2.6rem;
  background-image: linear-gradient(to right, #fff700, #00f3ff, #00ff21);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text {
  font-size: 1.2rem;
  width: 70%;
  color: white;
  text-shadow: 0 0 5px #000;
}

.image-container {
  background-color: #bab3b373;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding: 1rem; */
}

.image-container img {
  width: 100%;
  /* height: 80%; */
  object-fit: cover;
}

/* <!-- about us css --> */

/* Testimonial section */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Testimonial section */
